/* Variables */
/* Mixins */
/* Fonts */
@font-face {
  font-family: museosans;
  src: url("../fonts/museosans-500.otf");
}
/* Reusable General Classes */
/* line 54, ../sass/_base.scss */
.one-third {
  width: 33.33%;
}

/* line 55, ../sass/_base.scss */
.full-width {
  width: 100%;
}

/* line 56, ../sass/_base.scss */
.inline-block {
  display: inline-block !important;
}

/* line 57, ../sass/_base.scss */
.push-double--bottom {
  margin-bottom: 40px !important;
}

/* line 58, ../sass/_base.scss */
.push-double--ends {
  margin: 40px 0 !important;
}

/* line 59, ../sass/_base.scss */
.push--ends {
  margin: 20px 0 !important;
}

/* line 60, ../sass/_base.scss */
.flush {
  margin: 0 !important;
}

/* line 61, ../sass/_base.scss */
.hard--sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 62, ../sass/_base.scss */
.relative {
  position: relative;
}

/* line 63, ../sass/_base.scss */
.text--highlight {
  color: #D83454;
}

/* Buttons */
/* line 69, ../sass/_base.scss */
.btn {
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #D83454;
  width: 100%;
  color: #FFF;
  outline: none;
  border: none;
}

/* General Definitions */
/* line 83, ../sass/_base.scss */
html, body {
  height: 100%;
  min-height: 1240px;
  margin: 0;
  padding: 0;
}

/* line 90, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: museosans;
}

/* line 99, ../sass/_base.scss */
body {
  background-color: #EEF4F2;
  font-size: 2vw;
  font-weight: 300;
}

/* Icons */
/* line 108, ../sass/_base.scss */
.icon-phone:before {
  content: '';
  display: inline-block;
  background-image: url("../images/icon-phone.svg");
  width: 5vw;
  height: 5vh;
  margin-right: 1.5vh;
  background-position: 0px 1.4vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 108, ../sass/_base.scss */
.icon-email:before {
  content: '';
  display: inline-block;
  background-image: url("../images/icon-email.svg");
  width: 5vw;
  height: 5vh;
  margin-right: 1.5vh;
  background-position: 0px 1.4vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 3, ../sass/_overrides.scss */
.carousel-indicators .active {
  background-color: #777;
}
/* line 6, ../sass/_overrides.scss */
.carousel-indicators li {
  border: 1px solid #777;
}

/* line 4, ../sass/app.scss */
a:focus {
  outline: 0;
}

/* line 8, ../sass/app.scss */
p {
  font-size: 2vw;
}

/* line 12, ../sass/app.scss */
.map-information-box {
  margin-top: 10px;
  text-align: left;
  line-height: 0.3;
  color: #777;
}
/* line 17, ../sass/app.scss */
.map-information-box p {
  font-size: 12px;
}

/* line 22, ../sass/app.scss */
.section-view {
  height: 100vh;
  text-align: center;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
}
/* line 29, ../sass/app.scss */
.section-view form {
  width: 33.33%;
  margin: 0 auto;
}

/* line 35, ../sass/app.scss */
.tag-line {
  width: 66.6%;
}

/* line 39, ../sass/app.scss */
.section--white {
  background-color: white;
}

/* line 41, ../sass/app.scss */
.section-item {
  align-self: flex-end;
  padding: 10px 0;
}

/* line 46, ../sass/app.scss */
.section-item--start {
  align-self: flex-start;
  position: relative;
  height: 100%;
}

/* line 52, ../sass/app.scss */
.service-head {
  margin: 40px 0;
}

/* line 56, ../sass/app.scss */
.theme--pink {
  background-color: #D83454;
  color: #FFF;
}
/* line 59, ../sass/app.scss */
.theme--pink .tag-line {
  display: inline-block;
  font-size: 1.5vw;
  margin: 40px auto;
}
/* line 64, ../sass/app.scss */
.theme--pink .heading {
  color: #FFF;
}

/* line 69, ../sass/app.scss */
.logo {
  background-image: url("../images/spectacles.png");
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

/* line 77, ../sass/app.scss */
.icon--slide-down {
  border: 3px solid #FFF;
  background-color: #D83454;
  color: #FFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  position: relative;
  bottom: 0px;
}
/* line 25, ../sass/_base.scss */
.icon--slide-down:before {
  content: '';
  background: 10px 15px url("../images/dropdown-icon.png") no-repeat;
  background-size: 60%;
  width: 40px;
  height: 30px;
  display: block;
}

/* line 81, ../sass/app.scss */
.icon--slide-down--dark {
  border: 3px solid #403F41;
  background-color: #FFF;
  color: #403F41;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  position: relative;
  bottom: 0px;
  position: absolute;
  bottom: 10px;
  left: 48%;
}
/* line 25, ../sass/_base.scss */
.icon--slide-down--dark:before {
  content: '';
  background: 10px 15px url("../images/dropdown-icon-black.png") no-repeat;
  background-size: 60%;
  width: 40px;
  height: 30px;
  display: block;
}

/* line 88, ../sass/app.scss */
.geek-think-1 {
  background-image: url("../images/images-with-computer-guy.png");
  height: 400px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

/* line 92, ../sass/app.scss */
.geek-think-2 {
  background-image: url("../images/images-with-computer-guy1.png");
  height: 400px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

/* line 96, ../sass/app.scss */
.geek-think-3 {
  background-image: url("../images/images-with-computer-guy2.png");
  height: 400px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

/* line 100, ../sass/app.scss */
.service-symbol {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #D83454;
  margin: 40px;
  display: inline-block;
  vertical-align: middle;
}
/* line 109, ../sass/app.scss */
.service-symbol .symbol {
  width: 130px;
  height: 100px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 40px;
}

/* line 118, ../sass/app.scss */
.development-service {
  background-image: url("../images/development-service.png");
}

/* line 122, ../sass/app.scss */
.design-service {
  background-image: url("../images/design-service.png");
}

/* line 126, ../sass/app.scss */
.research-service {
  background-image: url("../images/research-service.png");
}

/* line 130, ../sass/app.scss */
.branding-service {
  background-image: url("../images/branding-service.png");
}

/* line 134, ../sass/app.scss */
.slider {
  display: block;
  position: relative;
  top: 15%;
}
/* line 139, ../sass/app.scss */
.slider:before {
  content: "<";
  position: absolute;
  left: 40px;
  color: #788290;
  font-size: 1em;
  margin-top: 40px;
  padding: 10px;
  top: 25px;
}
/* line 149, ../sass/app.scss */
.slider:after {
  content: ">";
  position: absolute;
  right: 40px;
  color: #788290;
  font-size: 1em;
  margin-top: 40px;
  padding: 10px;
  top: 25px;
}

/* line 161, ../sass/app.scss */
.client-logo, .client-logo-carousel {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto 60%;
  margin: 60px 0px 0px 100px;
  width: 250px;
  height: 100px;
}

/* line 170, ../sass/app.scss */
.client-logo-carousel {
  margin: 60px 40%;
  background-size: auto 30%;
  width: 100%;
}

/* line 176, ../sass/app.scss */
.client-logo-1 {
  background-image: url("../images/client1.png");
}

/* line 180, ../sass/app.scss */
.client-logo-2 {
  background-image: url("../images/client2.png");
}

/* line 184, ../sass/app.scss */
.client-logo-3 {
  background-image: url("../images/client3.png");
}

/* line 188, ../sass/app.scss */
.heading {
  color: #403F41;
  font-size: 5vw;
  margin-bottom: 40px;
}

/* line 194, ../sass/app.scss */
.input-group {
  margin: 20px 0 0 0;
  width: 100%;
}

/* line 199, ../sass/app.scss */
textarea {
  resize: none;
}

/* line 203, ../sass/app.scss */
input, textarea {
  padding: 10px;
  border: 2px solid #D9DDE1;
  color: #403F41;
  background-color: #FBFBFB;
}

/* line 210, ../sass/app.scss */
input, textarea, button {
  width: 100%;
  border-radius: 3px;
  font-size: 1.5vw;
  outline: none;
}

/* line 218, ../sass/app.scss */
.service-section p {
  margin: 40px 0;
}
/* line 221, ../sass/app.scss */
.service-section .service-item {
  display: inline-block;
}

/* line 226, ../sass/app.scss */
h6 {
  margin: 0;
}

/* line 230, ../sass/app.scss */
*::-webkit-input-placeholder {
  color: #403F41;
}

/* line 234, ../sass/app.scss */
.map:before {
  content: 'How to find us';
}

/* line 238, ../sass/app.scss */
.height-60 {
  height: 60vh;
}

/* line 242, ../sass/app.scss */
.client-carousel, .contact-mobile {
  display: none;
}

/* line 246, ../sass/app.scss */
.contact-desktop {
  display: block;
}

/* Tablet + Mobile Media Queries */
@media screen and (max-device-width: 1240px) {
  /* line 253, ../sass/app.scss */
  p, body, .section-view:first-child .tag-line {
    font-size: 3vh;
  }

  /* line 256, ../sass/app.scss */
  .tag-line {
    width: 100%;
  }

  /* line 259, ../sass/app.scss */
  .heading {
    font-size: 8vh;
    margin-bottom: 20px;
  }

  /* line 263, ../sass/app.scss */
  .service-head {
    margin: 10px auto !important;
  }

  /* line 266, ../sass/app.scss */
  input, textarea, button, .btn {
    font-size: 1em;
  }

  /* line 269, ../sass/app.scss */
  .contact-desktop {
    display: none;
  }

  /* line 272, ../sass/app.scss */
  .contact-mobile {
    display: block;
  }

  /* line 275, ../sass/app.scss */
  .service-symbol {
    margin: 5px 20px;
    float: left;
  }
  /* line 278, ../sass/app.scss */
  .service-symbol .symbol {
    width: 60px;
    background-size: 100%;
    margin: 0;
    top: 25%;
    position: relative;
    left: 25%;
  }

  /* line 288, ../sass/app.scss */
  .service-item {
    width: 100%;
    margin: 5% 0 0 10%;
    text-align: left;
  }
}
/* Tablets Media Query */
@media screen and (min-device-width: 600px) and (max-device-width: 1240px) {
  /* line 298, ../sass/app.scss */
  .logo {
    height: 190px;
  }

  /* line 303, ../sass/app.scss */
  .section-view form {
    width: 80%;
  }

  /* line 308, ../sass/app.scss */
  textarea {
    height: 30vh;
  }

  /* line 311, ../sass/app.scss */
  .service-section p {
    display: inline-block;
    margin: 40px 0;
  }

  /* line 316, ../sass/app.scss */
  .service-symbol {
    width: 120px;
    height: 120px;
    margin: 5px 40px;
  }
  /* line 320, ../sass/app.scss */
  .service-symbol .symbol {
    height: 60px;
  }

  /* line 325, ../sass/app.scss */
  .branding-service {
    line-height: 2em;
  }

  /* line 329, ../sass/app.scss */
  .icon--slide-down:before {
    content: '';
    line-height: 1.8em;
  }

  /* line 334, ../sass/app.scss */
  .map:before {
    content: 'Find us';
  }

  /* line 338, ../sass/app.scss */
  .slider {
    top: 5%;
  }
  /* line 340, ../sass/app.scss */
  .slider:before {
    content: '<';
    top: 35%;
  }
  /* line 344, ../sass/app.scss */
  .slider:after {
    content: '>';
    top: 35%;
  }

  /* line 350, ../sass/app.scss */
  .client-logo {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 50%;
    margin: 0 0 50px 0;
    width: 50%;
    height: 150px;
  }

  /* line 360, ../sass/app.scss */
  .icon--slide-down--dark {
    left: 45%;
  }
}
/* Mobile Media Queries */
@media screen and (min-device-width: 320px) and (max-device-width: 599px) {
  /* line 369, ../sass/app.scss */
  .logo {
    height: 14vh;
  }

  /* line 373, ../sass/app.scss */
  .client-carousel {
    display: block;
  }

  /* line 378, ../sass/app.scss */
  .section-view form {
    width: 100%;
  }

  /* line 383, ../sass/app.scss */
  textarea {
    height: 20vh;
  }

  /* line 387, ../sass/app.scss */
  .section-item {
    width: 100%;
  }

  /* line 392, ../sass/app.scss */
  .section-view:first-child .tag-line {
    font-size: 1em;
  }

  /* line 397, ../sass/app.scss */
  .service-symbol {
    width: 60px;
    height: 60px;
  }
  /* line 401, ../sass/app.scss */
  .service-symbol .symbol {
    background-size: 50%;
    height: 30px;
  }

  /* line 407, ../sass/app.scss */
  .service-section p {
    display: inline-block;
    margin: 20px 0;
    font-size: 16px;
  }

  /* line 413, ../sass/app.scss */
  .slider {
    display: none;
  }

  /* line 417, ../sass/app.scss */
  .geek-think-1, .geek-think-2, .geek-think-3 {
    height: 200px;
    width: 250px;
  }

  /* line 422, ../sass/app.scss */
  .icon--slide-down--dark {
    left: 40%;
  }
}
