@import 'base.scss';
@import 'overrides.scss';

a:focus {
	outline: 0;
}

p {
	font-size: 2vw;
}

.map-information-box {
	text-align: left;
	line-height: 0.3;
	color: $color-grey;
	p {
		font-size: 12px;
	}
}

.section-view {
	height: 100vh;
	text-align: center;
	padding: 10px 40px;
	display: flex;
	justify-content: center;

	form {
		width: 33.33%;
		margin: 0 auto;
	}
}

.tag-line {
	width: 66.6%;
}

.section--white { background-color: white; }

.section-item {
	align-self: flex-end;
	padding: 10px 0;
}

.section-item--start {
	align-self: flex-start;
	position: relative;
	height: 100%;
}

.service-head {
	margin: 40px 0;
}

.theme--pink {
	background-color: $theme-color;
	color: $color-white;
	.tag-line {
		display: inline-block;
		font-size: 1.5vw;
		margin: 40px auto;
	}
	.heading {
		color: $color-white;
	}
}

.logo {
	background-image: url('../images/spectacles.png');
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.icon--slide-down {
	@include slide-down($color-white, $theme-color, '../images/dropdown-icon.png');
}

.icon--slide-down--dark {
	@include slide-down($base-text-color-active, $color-white, '../images/dropdown-icon-black.png');
	position: absolute;
	bottom: 10px;
	left: 48%;
}

.geek-think-1 {
	@include geek-think('../images/images-with-computer-guy.png');
}

.geek-think-2 {
	@include geek-think('../images/images-with-computer-guy1.png');
}

.geek-think-3 {
	@include geek-think('../images/images-with-computer-guy2.png');
}

.service-symbol {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: $theme-color;
	margin: 40px;
	display: inline-block;
	vertical-align: middle;

	.symbol {
		width: 130px;
		height: 100px;
		background-repeat: no-repeat;
		margin: auto;
		margin-top: 40px;
	}
}

.development-service {
	background-image: url('../images/development-service.png');
}

.design-service {
	background-image: url('../images/design-service.png');
}

.research-service {
	background-image: url('../images/research-service.png');
}

.branding-service {
	background-image: url('../images/branding-service.png');
}

.slider {
	display: block;
	position: relative;
	top: 15%;

	&:before {
		content: "<";
		position: absolute;
		left: 40px;
		color: $base-text-color;
		font-size: 1em;
		margin-top: 40px;
		padding: 10px;
	top: 25px;
	}
	&:after {
		content: ">";
		position: absolute;
		right: 40px;
		color: $base-text-color;
		font-size: 1em;
		margin-top: 40px;
		padding: 10px;
	top: 25px;
	}
}

.client-logo, .client-logo-carousel {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: auto 60%;
	margin: 60px 0px 0px 100px;
	width: 250px;
	height: 100px;
}

.client-logo-carousel {
	margin: 60px 40%;
	background-size: auto 30%;
	width: 100%;
}

.client-logo-1 {
	background-image: url('../images/client1.png');
}

.client-logo-2 {
	background-image: url('../images/client2.png');
}

.client-logo-3 {
	background-image: url('../images/client3.png');
}

.heading {
	color: $base-text-color-active;
	font-size: 5vw;
	margin-bottom: 40px;
}

.input-group {
	margin: 20px 0 0 0;
	width: 100%;
}

textarea {
	resize: none;
}

input, textarea {
	padding: 10px;
	border: 2px solid $base-border-color;
	color: $base-text-color-active;
	background-color: #FBFBFB;
}

input, textarea, button {
	width: 100%;
	border-radius: 3px;
	font-size: 1.5vw;
	outline: none;
}

.service-section {
	p {
		margin: 40px 0;
	}
	.service-item {
		display: inline-block;
	}
}

h6 {
	margin: 0;
}

*::-webkit-input-placeholder {
	color: $base-text-color-active;
}

.map:before {
	content: 'How to find us';
}

.height-60 {
	height: 60vh;
}

.client-carousel, .contact-mobile {
	display:none;
}

.contact-desktop {
	display: block;
}

/* Tablet + Mobile Media Queries */

@media screen and (max-device-width: 1240px) {
	p, body, .section-view:first-child .tag-line {
		font-size: 3vh;
	}
	.tag-line {
		width: 100%;
	}
	.heading {
		font-size: 8vh;
		margin-bottom: 20px;
	}
	.service-head {
		margin: 10px auto !important;
	}
	input, textarea, button, .btn {
		font-size: 1em;
	}
	.contact-desktop {
		display: none;
	}
	.contact-mobile {
		display: block;
	}
	.service-symbol {
		margin: 5px 20px;
		float: left;
		.symbol {
			width: 60px;
			background-size: 100%;
			margin: 0;
			top: 25%;
			position: relative;
			left: 25%;
		}
	}

	.service-item {
		width: 100%;
		margin: 5% 0 0 10%;
		text-align: left;
	}
}

/* Tablets Media Query */
@media screen and (min-device-width: 600px) and (max-device-width: 1240px) {

	.logo {
		height: 190px;
	}

	.section-view {
		form {
			width: 80%;
		}
	}

	textarea {
		height: 30vh;
	}
	.service-section p {
		display: inline-block;
		margin: 40px 0;
	}

	.service-symbol {
		width: 120px;
		height: 120px;
		margin: 5px 40px;
		.symbol {
			height: 60px;
		}
	}

	.branding-service {
		line-height: 2em;
	}

	.icon--slide-down:before {
		content: '';
		line-height: 1.8em;
	}

	.map:before {
		content: 'Find us';
	}

	.slider {
		top: 5%;
		&:before {
			content: '<';
			top: 35%;
		}
		&:after {
			content: '>';
			top: 35%;
		}
	}

	.client-logo {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: auto 50%;
		background-position: 50%;
		margin: 0 0 50px 0;
		width: 50%;
		height: 150px;
	}

	.icon--slide-down--dark {
		left: 45%;
	}

}

/* Mobile Media Queries */
@media screen and (min-device-width: 320px) and (max-device-width: 599px) {

	.logo {
		height: 65px;
	}

	.client-carousel {
		display: block;
	}

	.section-view {
		form {
			width: 100%;
		}
	}

	textarea {
		height: 20vh;
	}

	.section-item {
		width: 100%;
	}

	.section-view:first-child {
		.tag-line {
			font-size: 1em;
		}
	}

	.service-symbol {
		width: 60px;
		height: 60px;

		.symbol {
			background-size: 50%;
			height: 30px;
		}
	}

	.service-section p {
		display: inline-block;
		margin: 20px 0;
		font-size: 16px;
	}

	.slider {
		display:none;
	}

	.geek-think-1, .geek-think-2, .geek-think-3 {
		height: 200px;
		width: 250px;
	}

	.icon--slide-down--dark {
		left: 40%;
	}
}
